.mySlides {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 55%;
}

.mySlides:after { 
     /* position: relative; 
    height: 100%;
    width: 100%;
    top: 0px;
    left: 50px; */
    z-index: 0; 
    
}



.mySlides:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}

/*div.image-container {
    display: flex;
    justify-content: center;
}
*/
.image-container {
    margin-top: 8%;
}
nav {
    display: flex;
    justify-content: flex-end;
    background: white;
    height: 50px;
}
.navBar {
    
    text-decoration: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: black;
}

