.mySlides,
.mySlides:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.mySlides:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}