<div class='image-container' >
    <img class="mySlides" src="https://m.media-amazon.com/images/M/MV5BMTU3MTQyNjQwM15BMl5BanBnXkFtZTgwNDgxNDczNTM@._V1_.jpg" height="500" width="750">
    <img class="mySlides" src="https://m.media-amazon.com/images/M/MV5BMjE3MDQ0MTA3M15BMl5BanBnXkFtZTgwMDMwNDY2NTM@._V1_.jpg" height="500" width="750">
    <img class="mySlides" src="https://prod3.agileticketing.net/images/user/mars_2591/GooseBumps2%20560x315.jpg" height="500" width="750">

</div>
<input type="text" ng-model='$ctrl.filter'><button>Submit</button>

<!-- <ul>
<list ng-repeat='movies in $ctrl.movieTitle | filter: $ctrl.filter' ></list>
</ul> -->